.logo {
    display: flex;
    font-size: 24px;
    font-family: Raleway, sans-serif;
    line-height: 1.67;
    font-weight: 700;
    letter-spacing: 0.03em;
    color: $logo-color;
    text-decoration: none;

    .logo__label {
        color: $accent-color;
    }
}

@media screen and (min-width:1200px) {
    .logo {
        font-size: 26px;
        line-height: 1.38;
    }
}